q1:
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron 
ineuron ineuron ineuron ineuron ineuron

In [72]:
# q2:
# ineuron 
# ineuron ineuron 
# ineuron ineuron ineuron 
# ineuron ineuron ineuron ineuron 
# ineuron ineuron ineuron ineuron ineuron

In [73]:
for i in range(5):
        for j in range(i+1):
            print("ineuron ",end="")
      
        print("\r")

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron

In [1]:
l= [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), {'k1':"sudh", "k2": "ineuron", "k3": "kumar", 3:6, 7:8}, ["ineuron", "data science"]]

q3 : Try to extract all the list entity

In [4]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

q4: Try to extract all the dict entity

In [5]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5: Try to extract all the tuple entity

In [6]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6: Try to extract all the numerical data it may be a part of dict key and values.

In [7]:
for i in l:
    if type(i) is dict:
        for j in (i.keys()):
            if type(j) is int:
                print("keys",j)
        for k in (i.values()):
            if type(k) is int:
                print("values",j)

keys 3
keys 7
values 7
values 7

In [ ]:
q7: Try to give summation of all numeric data

In [75]:
for i in l :
    if type(i) is not dict:
        print(sum(i))
    else:
        break

10
20
25
77

q8: Try to filter out all the odd values out all numeric data which is part of list

In [8]:
for i in l:
    if type(i) is list:
        for j in i:
            if type(j) is int and  j % 2:
                print(j)

1
3

q9: Try to extract "ineuron" out of this data

In [9]:
for i in l:
    if "ineuron" in i:
        print(i[0])
    elif type(i) is dict :
        for j in i.values():
            if j == "ineuron" :
                print(j)

ineuron
ineuron

q10: Try to find out a number of occurances of all the data

q11: Try to find out number of keys in dict element

In [5]:
for i in l:
    if type(i) is dict:
        print(len(i.keys()))

5

q12:Try to filter out all the string data

In [11]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [27]:
for i in l:
    if type(i) is dict:
        for j in i.values():
            if type(j) is str:
                print(j)
    elif type(i) is list:
        for k in i:
            if type(k) is str:
                print(k)

sudh
ineuron
kumar
ineuron
data science

q13: Try to Find out alphanum in data

In [33]:
for i in l:
    if type(i) is dict:
        for j in i.values():
            if type(j) is str:
                print(j, j.isalnum())
    elif type(i) is list:
        for k in i:
            if type(k) is str:
                print(k, k.isalnum())

sudh True
ineuron True
kumar True
ineuron True
data science False

q14: Try to find out multiplication of all numeric value in the individual collection inside dataset.

In [67]:
import math
for i in l :
    if type(i) is not dict:
        print(math.prod(i))
    else:
        break

24
720
2520
20700

q15: Try to unwrape all the collection inside collection and create a flate list

In [71]:
flat_list = []
for i in l:
    for j in i:
        flat_list.append(j)
print(flat_list)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'ineuron', 'data science']